@model List<LettersFromGmail.ViewModels.LettersListViewModel>

<table width="60%" align="center">
    <caption style="margin: 30px"><strong>Gmail message</strong></caption>

    <thead>
        <tr>
            <th scope="col">From</th>
            <th scope="col">Title</th>
            <th scope="col">Summary</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
            {
        <tr>
                <th>@item.From</th>
                <td>@item.Title</td>
                <td>@item.Summary</td>
        </tr>
}
    </tbody>
</table>

@*<div class="container">
    <div class="row">
        <div class="text-center">
            <div id="grid"></div>
      </div>
    </div>
</div>
<script src="~/Scripts/App/kendoTable_showEmails.js"></script>*@

